.advantages
    padding-bottom: 50px
    background: url(../img/advantages/advantages-bg.png) center no-repeat
    -webkit-background-size: cover
    background-size: cover
    &-blocks
        display: flex
        justify-content: center
        margin-top: -1px
        padding-bottom: 80px
        overflow: hidden
        &__mobile
            display: none

    &-block
        display: flex
        align-items: center
        justify-content: flex-start
        margin-left: 1px
        flex-direction: column
        padding: 40px 30px 0 30px
        width: 20%
        height: 301px
        background: #fff
        position: relative
        &::after
            content: ''
            position: absolute
            bottom: -129px
            border: 94px solid transparent
            border-top: 35px solid #fff
        &:nth-child(even)
            height: 331px
        &:nth-child(3)
            height: 361px

    &-img
        margin-bottom: 30px
        display: flex
        align-items: center
        justify-content: center
        background: $dark
        padding: 20px
        width: 130px
        height: 130px
        -webkit-border-radius: 50%
        -moz-border-radius: 50%
        border-radius: 50%
        img
            width: 130px
            height: 130px
    &-header
        font-size: 17px
        text-align: center
        color: #252525
    &-steps
        margin: auto
        display: flex
        justify-content: space-around
        align-items: flex-start
        max-width: 960px
    &-step
        display: flex
        align-items: flex-start
        color: #fff
        &__info
            &-img
                margin-bottom: 20px
        &__number
            margin-right: 5px

@media screen and (max-width: 991px)
    .advantages
        &-img
            width: 90px
            height: 90px
            img
                width: 90px
        &-block
            &::after
                bottom: -105px
                border: 71px solid transparent
                border-top: 35px solid #fff
        &-step
            &__info
                &-text
                    font-size: 13px

@media screen and (max-width: 767px)
    .advantages
        &-title
            padding-top: 700px
        &-steps
            padding: 0 10px
            margin: auto
            width: 100%
        &-step
            padding: 0 2px
            margin-bottom: 25px
            &__number
                img
                    height: 100px
            &__info
                &-img
                    margin-bottom: 5px
        &-blocks
            display: none
            &__mobile
                display: block
                padding-top: 20px
                position: absolute
                top: 0
                left: 0
                width: 100%
                background: #fff
                svg
                    position: absolute
                    width: 100%
                    bottom: -111px
        &-block
            &__mobile
                display: flex
                justify-content: center
                align-items: center
                margin: auto
                padding: 10px 0
                width: 310px
                border-bottom: 1px solid rgba($light, .5)
                &:last-child
                    border: none
                &:nth-child(odd)
                    .advantages-header
                        text-align: left
                        margin-left: 15px
                &:nth-child(even)
                    .advantages-header
                        margin-right: 15px
                        text-align: right
        &-img
            margin-bottom: 0

@media screen and (max-width: 575px)
    .advantages
        &-steps
            width: 200px
            flex-wrap: wrap
        &-step
            width: 100%
        &-blocks
            &__mobile
                padding-top: 10px

@media screen and (max-width: 420px)
    .advantages
        &-steps
            width: 200px
        &-step
            margin-left: 0