.course
    &-title
        &__mobile
            display: none

@media screen and (max-width: 991px)
    .course
        &-video
            &__flexible
                .container
                    padding-bottom: 15px
                .video-play
                    margin-bottom: 0
        &-title
            &__mobile
                margin-bottom: 40px
                display: block
                text-align: center

    .hide-mobile
        display: none
