.reviews
    padding: 40px 0 0
    &-title
        color: #202020
        &::after
            background: $dark
    &-block
        margin-bottom: 20px
        display: flex
        align-items: flex-start
        justify-content: space-between
        &:nth-child(odd)
            .reviews-img
                margin-right: 20px
        &:nth-child(even)
            .reviews-info
                display: flex
                flex-direction: column
                align-items: flex-end
                text-align: right
            .reviews-img
                margin-left: 20px
    &-author
        margin-bottom: 20px
        width: max-content
        font-size: 18px
        position: relative
        span
            color: $light
        &::after
            content: ''
            position: absolute
            height: 1px
            background: $light
            width: 100%
            left: 0
            bottom: -7px