.start
    padding: 40px 0
    &-block
        width: 480px
        text-align: center
        position: relative
    &-text
        margin: 20px 0
        font-size: 25px
        span
            font-weight: 700
            color: $dark
    &-button
        margin: auto
    &-photo
        position: absolute
        width: 450px
        left: 410px
        bottom: -40px
        z-index: -1
        