.stats
    padding: 40px 0
    background: url(../img/stats/stats-bg.png) center no-repeat
    -webkit-background-size: cover
    background-size: cover
    &-blocks
        display: flex
        justify-content: space-between
        width: 960px
        margin: auto
    &-block
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        width: 215px
        height: 320px
        background: url(../img/stats/stats-romb.png) center no-repeat
        -webkit-background-size: contain
        background-size: contain
        text-align: center
        &:nth-child(odd)
            margin-top: 45px
        img
            margin-bottom: 15px
    &-text
        color: #fff
        font-size: 18px
        span
            display: block
            line-height: .8
            font-size: 60px
            font-weight: 700

@media screen and (max-width: 991px)
    .stats
        &-blocks
            padding: 0 20px
            width: 100%
        &-block
            margin-left: 5px
            margin-right: 5px
        &-text
            span
                font-size: 50px

@media screen and (max-width: 767px)
    .stats
        padding: 0
        &-text
            font-size: 16px
            span
                font-size: 35px
        &-block
            height: 280px
            img
                width: 55px
                margin-bottom: 5px

@media screen and (max-width: 575px)
    .stats
        padding: 10px 0
        &-blocks
            flex-wrap: wrap
            max-width: 320px
        &-block
            width: 130px
            height: 215px
            &:nth-child(1)
                margin-top: 20px
            &:nth-child(3)
                margin-top: -40px
            &:nth-child(4)
                margin-top: -60px
            img
                margin-bottom: 5px
                width: 45px
        &-text
            font-size: 14px
            span
                line-height: 1
                font-size: 40px